.venv/
jellyfin/cache/
jellyfin/config/
jellyfin/downloads/
jellyfin/jellyfin-web/
jellyfin/jellyseerr/
jellyfin/lidarr/
jellyfin/prowlarr/
jellyfin/qbittorrent/
jellyfin/radarr/
jellyfin/sonarr/
jellyfin/media/
olympus/minecraft-data
olympus/duck.log
olympus/duck.sh
olympus-server
pi-hole/etc-pihole
github-runner/_work
github-runner/runner-config